{% extends "layout.html" %}
{% load course_extras %}

{% block title %}
    Available
{% endblock %}

{% block content %}
    <div class="cards">
        {% for course in courses %}
            <div class="card">
                <header>
                    <a href="{% url 'course:detail' pk=course.pk %}">{{ course.title }}</a>
                </header>
                <div class="card-copy">
                   {{ course.description|makdown_to_html }}
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}


