<!DOCTYPE html>
{% load static from staticfiles %}
{% load course_extras %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="{% static "css/layout.css" %}">
</head>
<body>

<div class="site-container">
    {% nav_courses_list %}
    <nav>
        <a href="#">Home</a>
        <a href="{% url 'course:list' %}">Courses</a>
    </nav>
    <p>Don't miss our latest course {% newest_course %}</p>
    {% block content %}
    {% endblock %}
</div>

</body>
</html>